/*font-family: 'Lobster', cursive;*/
body{
	font-family: 'Francois One', sans-serif;
}

.aditii{
	font-family: 'Lobster', cursive;
	font-size: 50px;
	color:#3cc3b5;
	text-align: left;
}

.top{
	padding: 20px;
}
.basket{
	font-size: 30px;
	color:#3cc3b5;
	display: flex;
	top: 10px;
}
.basket-text{
	color:#a1a1a1;
	font-size: 25px;
    margin-left: 10px;
}
.bar-search{
	margin-top: 10px;
	width: 500px;
}
.nav-links{
	text-transform: uppercase;
	padding: 5px;
	font-size: 15px;
	text-indent: 15px;
}
.nav>li>a{
	color: #ffffff;
}
.separator{
	border: solid 1px white;
	top: 13px;
    height: 13px;
}
.fundo-menu{
	background-color: #4ccfc1;
}
.fundo-background{
	background-color: #38c2b7;
	height: 450px;
}
.back-style{
	color: #ffffff;
	top: 50px;
    left: 100px;
}

.back-style h1{
	text-transform: uppercase;
	font-size: 45px;
	padding-bottom: 10px;
}

.back-style p{
	font-size:18px;
	padding-bottom: 20px;
}

.button-style {
	text-transform: uppercase;
	background-color: transparent;
	border: solid 2px white;
	color:#ffffff;
}

.button-style:hover {
	text-transform: uppercase;
	background-color: lightcoral;
	border: solid 2px white;
	color:#ffffff;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.navegator{
	color: #fff;
	margin-left: 105px;
    padding-top: 90px;
}
.pagination>li>a, .pagination>li>span {
	border: none;
	background-color: transparent;
	color: #ffffff;
}
.trio{
	text-transform: uppercase;
	color: #afafaf;
	font-size: 25px;

}
.button-trio{
	text-transform: uppercase;
	background-color: #3cc395;
	border: solid 2px;
	color:#ffffff;
}

.button-trio:hover{
	text-transform: uppercase;
	background-color: lightcoral;
	border: solid 2px white;
	color:#ffffff;
}
.shoes-trio{
	top: 30px;
    left: 20px;

}
.shirt-trio{
	top: 30px;
    left: 20px;

}
.bermuda-trio{
	top: 30px;
    left: 20px;
}

.border{
	border-right: 1px solid #afafaf;;
}
.fundo-separador{
	background-color: #38c2b7;
	height: 60px;
}
.separador{
	text-transform: uppercase;
	color: #ffffff;
}

.modulos{align-items: center;}

.button-modulo{
	text-transform: uppercase;
	background-color: #3cc395;
	color:#ffffff;
}
.modulo-title{
	text-transform: uppercase;
	color: #afafaf;
	font-size: 25px;
}
.modulo-text{
	text-transform: uppercase;
	color: #afafaf;
	font-size: 25px;
}

.thumbnail .caption{
	margin-left: 40px;
}
.fundo-modulos{
	margin-top: 50px;
	margin-bottom: 70px;
	margin-right: 10px;
}

.thumbnail{
	width: 262.5px;
	height: 279.22px;
	border-bottom: solid 4px #3cc395;
}

.fundo-final{
	background-color: #38c2b7;
	height: 300px;
}

.lista-um{
	color: #ffffff;
	line-height: 25px;
	list-style-type: none;
}
.title-lista{
	text-transform: uppercase;
	padding-bottom: 10px;
}
.bloco-total{
	padding-top: 30px;
}

